@import '../variables.scss';
.chat-widget-body-wrapper{
    flex: 1 1 auto;
    background: var(--chat-widget-body-bg) no-repeat;
    background-size: cover;
    overflow: auto;
    height: calc(100vh - 330px); // Need to remove
    padding-bottom: 5px;
    .prev-message-list {
        display: none;
    }
    .kore-sdk-error-section {
        display: block;
        text-align: center;
        background: #FFFBFA;
        color: #D92D20;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        left: 0;
        right: 0;
        padding: 5px;
        &.hide {
            display: none;
        }
    }
}


.suggested-questions-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.question-button {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s ease;
    width: 90%;
    margin-left: 11px;
}

.question-button:hover {
    background-color: #f2f2f2;
}

.chat-icon {
    margin-right: 8px;
}
